[submodule "minions/ghost"]
	path = minions/ghost
	url = git@gitlab.com:summoner/ghost.git
[submodule "core/nginx"]
	path = core/nginx
	url = git@gitlab.com:summoner/nginx.git
[submodule "core/registry"]
	path = core/registry
	url = git@gitlab.com:summoner/registry.git
[submodule "core/monitoring"]
	path = core/monitoring
	url = git@gitlab.com:summoner/monitoring
[submodule "minions/wekan"]
	path = minions/wekan
	url = git@gitlab.com:summoner/wekan.git
[submodule "minions/mattermost"]
	path = minions/mattermost
	url = git@gitlab.com:summoner/mattermost.git
[submodule "minions/wordpress"]
	path = minions/wordpress
	url = git@gitlab.com:summoner/wordpress.git
[submodule "minions/taiga"]
	path = minions/taiga
	url = git@gitlab.com:summoner/taiga.git
[submodule "minions/nextcloud"]
	path = minions/nextcloud
	url = git@gitlab.com:summoner/nextcloud.git
[submodule "minions/rocketchat"]
	path = minions/rocketchat
	url = git@gitlab.com:summoner/rocketchat.git
[submodule "minions/etherpad"]
	path = minions/etherpad
	url = git@gitlab.com:summoner/etherpad.git
[submodule "minions/sinopia"]
	path = minions/sinopia
	url = git@gitlab.com:summoner/sinopia.git
[submodule "minions/gitlab"]
	path = minions/gitlab
	url = git@gitlab.com:summoner/gitlab.git
[submodule "minions/verdaccio"]
	path = minions/verdaccio
	url = git@gitlab.com:summoner/verdaccio.git
[submodule "minions/mailserver"]
	path = minions/mailserver
	url = git@gitlab.com:summoner/mailserver.git
[submodule "core/OpenLDAP"]
	path = core/OpenLDAP
	url = git@gitlab.com:summoner/OpenLDAP.git
[submodule "summoner.gitlab.io"]
	path = summoner.gitlab.io
	url = git@gitlab.com:summoner/summoner.gitlab.io.git
